<h1>My Google Maps Demo</h1>

<div id="map"></div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @map.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @map.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @map.longitude %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>


<script>
  function initMap() {
    var uluru = { lat: <%= @map.latitude %>, lng: <%= @map.longitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: uluru,
      gestureHandling: 'cooperative'
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=xxxxxxxxxxx&callback=initMap">
</script>
